
:root {

  --bs-primary: #e69b3a;
  --bs-secondary: #926224;
 
  --bs-font-sans-serif: Roboto, Helvetica, Arial, "Liberation Sans-Serif", sans-serif;


}


.btn-primary {
  color: #fff;
  background-color: #e9a447;
  border-color: #e9a447;
}

