#wrapper {
}

:root {
  /*--bs-blue: #4e73df;*/
  /*--bs-indigo: #6610f2;*/
  /*--bs-purple: #6f42c1;*/
  /*--bs-pink: #e83e8c;*/
  /*--bs-red: #e74a3b;*/
  /*--bs-orange: #fd7e14;*/
  /*--bs-yellow: #f6c23e;*/
  /*--bs-green: #1cc88a;*/
  /*--bs-teal: #20c9a6;*/
  /*--bs-cyan: #36b9cc;*/
  /*--bs-white: #fff;*/
  /*--bs-gray: #858796;*/
  /*--bs-gray-dark: #5a5c69;*/
  /*--bs-gray-100: #f8f9fc;*/
  /*--bs-gray-200: #eaecf4;*/
  /*--bs-gray-300: #dddfeb;*/
  /*--bs-gray-400: #d1d3e2;*/
  /*--bs-gray-500: #b7b9cc;*/
  /*--bs-gray-600: #858796;*/
  /*--bs-gray-700: #6e707e;*/
  /*--bs-gray-800: #5a5c69;*/
  /*--bs-gray-900: #3a3b45;*/
  --bs-primary: #e69b3a;
  --bs-secondary: #926224;
  /*--bs-success: #1cc88a;*/
  /*--bs-info: #36b9cc;*/
  /*--bs-warning: #f6c23e;*/
  /*--bs-danger: #e74a3b;*/
  /*--bs-light: #f8f9fc;*/
  --bs-dark: #35281e;
  --bs-primary-rgb: 230, 155, 58;
  --bs-secondary-rgb: 150, 145, 130;
  /*--bs-success-rgb: 28, 200, 138;*/
  /*--bs-info-rgb: 54, 185, 204;*/
  /*--bs-warning-rgb: 246, 194, 62;*/
  /*--bs-danger-rgb: 231, 74, 59;*/
  /*--bs-light-rgb: 252, 250, 248;*/
  --bs-dark-rgb: 58, 59, 69;
  /*--bs-white-rgb: 255, 255, 255;*/
  /*--bs-black-rgb: 0, 0, 0;*/
  --bs-body-color-rgb: 150, 145, 130;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-serif: Tranxophonetica, Alice, Garamond, "Liberation Serif", "Time New Roman", serif;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.2;
  --bs-body-color: #969385;
  --bs-body-bg: #fff;
}

.bg-gradient-primary {
  background-color: #e69b3a;
  background-image: linear-gradient(180deg, #e69b3a 10%, #35281e 100%);
  background-size: cover;
}

.sidebar .sidebar-brand {
  /*height: 4.375rem;*/
  /*text-decoration: none;*/
  /*font-size: 1rem;*/
  /*font-weight: 800;*/
  /*padding: 1.5rem 1rem;*/
  /*text-align: center;*/
  text-transform: initial;
  /*letter-spacing: .05rem;*/
  /*z-index: 1;*/
}

.btn-primary {
  color: #fff;
  background-color: #e69b3a;
  border-color: #926224;
}

span {
}

